/*
* @Author: Marte
* @Date:   2018-01-23 17:53:26
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-23 17:54:23
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background: red;
    //谢谢
}